<head>
    <meta charset="utf-8"/>
    <!-- multi-device width -->
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- site description -->
    {% if page.excerpt %}
        {% assign desc = page.excerpt | strip_html |
  strip_newlines | truncate: 160 %}
    {% else %}
        {% assign desc = site.description
  %}
    {% endif %}
    <meta content="{{ desc }}" name="description"/>
    <!-- referer for 3rd-part images-->
    <meta content="no-referrer" name="referrer"/>
    <!-- title -->
    <title>
        {% if page.title %}
            {{ page.title | escape }}
        {% else %}
            {{ site.title |
    escape }}
        {% endif %}
    </title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M4E78S8KN3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-M4E78S8KN3');
    </script>
    <!-- Adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2541434264715219"
     crossorigin="anonymous"></script>
    <!-- Clicky Stats -->
    <script async src="//static.getclicky.com/101393847.js"></script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101393847ns.gif" /></p></noscript>
    <!-- icon -->
    <link href="{{site.url }}{{site.baseurl}}/src/assets/img/favicon.ico" rel="shortcut icon bookmark" type="image/x-icon"/>
    <!-- global stylesheet -->
    <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/src/assets/css/main.css" type="text/css"/>
    <!-- fa 5.9.0 -->
    <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/src/assets/css/fa.min.css" type="text/css"/>
    <!-- global script -->
    <script src="{{site.url}}{{site.baseurl}}/src/assets/js/main.js" async></script>
    <!-- mathjax 2.7.5 -->
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <!-- mermaid 8.11.5-->
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.11.5/mermaid.min.js"></script>
    
    {% seo %}
</head>
